<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.kevgilles.dm.initiativetracker">

    <application
            android:name=".App"
            android:allowBackup="true"
            android:fullBackupContent="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity
                android:name=".activities.MainActivity"
                android:label="Campaigns">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activities.AddCampaignActivity"
                android:label="@string/add_campaign_activity_name"
                android:parentActivityName=".activities.MainActivity">
        </activity>
        <activity
                android:name=".activities.CampaignActivity"
                android:label="Campaign">
        </activity>
        <activity
                android:name=".activities.TeamActivity"
                android:label="Team Preparation">
        </activity>
        <activity
                android:name=".activities.AddCharacterActivity"
                android:label="@string/add_character_activity_title"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".activities.EditCharacterActivity"
                android:label="Edit Character">
        </activity>
        <activity
                android:name=".activities.EncounterActivity"
                android:label="Encounter">
        </activity>
        <activity
                android:name=".activities.AddCreatureActivity"
                android:label="Add Creature"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:windowSoftInputMode="adjustPan"
                android:name=".activities.TrackingActivity"
                android:label="Encounter Tracker">
        </activity>
        <activity
                android:name=".activities.EditCreatureActivity"
                android:label="Edit Encounter">
        </activity>
        <activity android:name=".activities.FightActivity">
        </activity>
    </application>

</manifest>